/*
Author: Sharon Zacharia
Date: 03-06-24
File Name: styles.css
*/

/*CSS Reset*/
body,
header,
nav,
main,
footer,
h1,
div,
img {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Style rules for body and images */
body {
    background-color: #000;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rule for header */
header {
    width: 25%;
    float: left;
}

/* Style for rules for navigation area */
nav {
    width: 70%;
    float: right;
    margin: 5em 3em 0 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rules for main content */
main {
    clear: left;
    background-color: lightblue;
    padding: 2%;
    font-size: 1.25em;
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}


#contact {
    text-align: center;
}

#contact a {
    color: #666600;
    text-decoration: none;
}

.reason img {
    width: 600px;
    height: 600px;
}

.banner img {
    width: 1940px;
    height: 856px;
}

/* Style rules for footer content */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;

}

/* Responsive Styles */

/* Mobile Styles */
@media (max-width: 600px) {

    header,
    nav {
        width: 100%;
        float: none;
        text-align: center;
    }

    header img {
        width: 100%;
        height: auto;
    }

    nav ul {
        margin-top: 2em;
    }

    nav li {
        display: block;
        margin-bottom: 1em;
    }

    main {
        font-size: 1em;
        padding: 5%;
    }

    .action {
        font-size: 1.25em;
    }
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 550px),
print {

    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* Tablet Viewport: Style rule for header content */
    span.tab-desk {
        display: inline;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border: none;
        display: inline-block;
        font-size: 1.5em;
        border-right: 1px solid #e5e9fc;
    }

    nav li:last-child {
        border: none;
    }

    nav li a {
        padding: 0.25em 0.5em;
    }

    /* Tablet Viewport: Style rule for map */
    .map {
        width: 500px;
        height: 450px;
    }

    /* Tablet Viewport: Style rule for form element */
    form {
        width: 70%;
        margin: 0 auto;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }

    aside {
        grid-column: 1 / span 2;
    }

}

/* Desktop Styles */
@media (min-width: 993px) {
    header {
        width: 25%;
    }

    nav {
        width: 70%;
        margin: 5em 3em 0 0;
    }

    nav ul {
        text-align: right;
    }

    nav li {
        display: inline-block;
    }

    main {
        font-size: 1.25em;
        padding: 2%;
    }

    .action {
        font-size: 1.35em;
    }
}

/*Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
    #container {
        width: 1920px;
        margin: 0 auto;
    }

}

/* Media Query for Print */
@media print {

    body {
        background-color: #fff;
        color: #000;
    }

}