/*
Author: Sharon Zacharia
Date: 03-06-24
File Name: styles.css
*/

/*CSS Reset*/
body,
header,
nav,
main,
footer,
h1,
div,
img {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Style rules for body and images */
body {
    background-color: #000;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rule for header */
header {
    width: 25%;
    float: left;
}

/* Style for rules for navigation area */
nav {
    width: 70%;
    float: right;
    margin: 5em 3em 0 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rules for main content */
main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}

/* Style rules for footer content */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;

}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

th,
td {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

/* Responsive Styles */

/* Mobile Styles */
@media (max-width: 600px) {

    header,
    nav {
        width: 100%;
        float: none;
        text-align: center;
    }

    nav ul {
        margin-top: 2em;
    }

    nav li {
        display: block;
        margin-bottom: 1em;
    }

    main {
        font-size: 1em;
        padding: 5%;
    }

    .action {
        font-size: 1.25em;
    }
}

/* Tablet Styles */
@media (min-width: 601px) and (max-width: 992px) {
    header {
        width: 30%;
    }

    nav {
        width: 65%;
        margin: 3em 2em 0 0;
    }

    nav ul {
        text-align: right;
    }

    nav li {
        display: inline-block;
        margin-bottom: 0;
    }

    main {
        font-size: 1.15em;
        padding: 3%;
    }

    .action {
        font-size: 1.3em;
    }
}

/* Desktop Styles */
@media (min-width: 993px) {
    header {
        width: 25%;
    }

    nav {
        width: 70%;
        margin: 5em 3em 0 0;
    }

    nav ul {
        text-align: right;
    }

    nav li {
        display: inline-block;
    }

    main {
        font-size: 1.25em;
        padding: 2%;
    }

    .action {
        font-size: 1.35em;
    }
}